<div class="container">
  <h4>商品編集</h4>
    <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
      <div class="row justify-content-center mb-2">
        <div class="col offset-4">商品画像</div>
        <div class="col-6"><%= f.file_field :image, accept: "image/*" %></div>
      </div>
      <div class="row mb-2">
        <div class="col offset-4">商品名</div>
        <div class="col-6"><%= f.text_field :name %></div>
      </div>
      <div class="row mb-2">
        <div class="col offset-4">商品説明</div>
        <div class="col-6"><%= f.text_area :introduction,size: "30x10" %></div>
      </div>
      <div class="row mb-2">
        <div class="col offset-4">ジャンル</div>
        <div class="col-6"><%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "--選択してください--") %></div>
      </div>
      <div class="row mb-2">
        <div class="col offset-4">税抜価格</div>
        <div class="col-6"><%= f.text_field :price %>円</div>
      </div>
      <div class="row mb-4">
        <div class="col offset-4">販売ステータス</div>
        <div class="col-6">
          <%= f.radio_button :is_active, true %>販売中
          <%= f.radio_button :is_active, false %>販売停止中
        </div>
      </div>
      <div class="row justify-content-center">
        <%= f.submit '変更を保存', class: "btn btn-success" %>
      </div>
    <% end %>
</div>

