<div class="container">
  <div class="row justyfy-content-between">
    <div class="col-md-6">
      <h1>商品一覧</h1>
    </div>
    <div class="col-md-6 mx-auto text-right">
      <%= link_to new_admin_item_path do %>
        <i class="far fa-plus-square fa-3x"></i>
      <% end %>
    </div>
        <table class = "table">
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
             <tr>
              <td>
                <span><%= item.id %></span>
              </td>
              <td>
                <span><%= link_to item.name, admin_item_path(item.id) %></span>
              </td>
              <td>
                <span><%= item.price %></span>
              </td>
              <td>
                <span><%= item.genre.name %></span>
              </td>
              <td>
                <span>
                  <% if item.is_active %>
                    販売中
                  <% else %>
                    販売停止中
                  <% end %>
                </span>
              </td>
             </tr>
            <% end %>
          </tbody>
        </table>
        <div class="row justify-content-center">
            <%= paginate @items %>
        </div>
  </div>
</div>