<div class="container">
  <div class="row">
   <h1>商品詳細</h1>
    <%= image_tag @item.image, size:"100x100" %>
    <div>
      <h2>商品名</h2>
      <%= @item.name %>
      <h2>商品説明</h2>
      <%= @item.introduction %>
      <h2>ジャンル</h2>
      <%= @item.genre.name %>
      <h2>税込価格(税抜価格)</h2>
      <%= (@item.price*1.1).to_i %>(<%= @item.price %>)円
      <h2>販売ステータス</h2>
      <% if @item.is_active %>
        販売中
      <% else %>
        販売停止中
      <% end %>
      <%= link_to "編集する",edit_admin_item_path %>
    </div>
  </div>
</div>