<%= flash[:notice] %>

<div class="container">
  <div class="row justify-content-center">
    <div class="border">
    ようこそ、ながのCAKEへ！<br>
    このサイトはこのサイトはケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。<br>
    </div>
  </div>
  <h2>新着商品</h2>
  <div class="row">

      <% @items.each do |items| %>
        <div class ="col-md-3">
          <span><%= image_tag items.image, size:"200x150" %></span><br>
          <spam><%= link_to items.name, item_path(items.id) %></spam><br>
          <span>¥<%= items.price %></span>
        </div>
      <% end %>
 
  </div>
  <div class="row justify-content-end">
    <%= link_to "全ての商品を見る>", items_path %>
  </div>
</div>