<div class="container">
  <div class="row">
    <div class="border">
    "ようこそ、ながのCAKEへ！<br>
    このサイトはこのサイトはケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。<br>
    </div>
  </div>
  <div class="row">
    <h2>新着商品</h2>
    <%= @items.each do |items| %>
      <ul><%= image_tag items.image, size:"50x50" %></ul>
      <ul><%= items.name %></ul>
      <ul><%= items.price %></ul>
    <% end %>
  </div>
  <%= link_to "全ての商品を見る>", items_path %>
</div>