<div class="container">
  <h4>配送先登録/一覧</h4>
  <div class="row">
    <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
      <div class="form-group">
        <div class="row justify-content-around">
          <div class="col">
            <label>郵便番号(ハイフンなし)</label>
          </div>
          <div class="col">
            <%= f.text_field :postal_code, placeholder: "0000000" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row justify-content-around">
          <div class="col">
            <label>住所</label>
            <%= f.text_field :address, placeholder: "東京都渋谷区代々木町神園町0-0", size: 40 %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row justify-content-around">
          <div class="col-md-3">
            <label>宛名</label>
          </div>
          <div class="col-md-4">
            <%= f.text_field :name, placeholder: "令和道子" %>
          </div>
          <div class="col-md-2">
            <%= f.submit "新規登録" , class: "btn btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
           <th>郵便番号</th>
           <th>住所</th>
           <th>宛名</th>
           <th colspan="6"></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td>
              <span><%= address.postal_code %></span>
            </td>
            <td>
              <span><%= address.address %></span>
            </td>
            <td>
              <span><%= address.name %></span>
            </td>
            <td>
              <span><%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %></span>
              <span><%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-danger" %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>