<div class="container">
  <h4>注文情報確認</h4>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </thead>
      <tbody>
        <% @total = 0 %>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <span><%= cart_item.item.name %></span>
            </td>
            <td>
              <span><%= cart_item.item.price %></span>
            </td>
            <td><%= cart_item.amount %></td>
            <td>
              <span><%= cart_item.subtotal %></span>
            </td>
          </tr>
          <% @total += cart_item.subtotal %>
        <% end %>
      </tbody>
    </table>
    <table class="table table-bordered">
      <tr>
        <th>送料</th>
        <td>800</td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= @total %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @total+800 %></td>
      </tr>
    </table>
  </div>

  <h4>支払い方法</h4>
  <span><%= @order.payment_method_i18n %></span>
  <h4>お届け先</h4>
  <span>
    <%= @order.postal_code %>
    <%= @order.address %>
    <%= @order.addressee %>
  </span>

  <%= form_with model: @order, url: orders_path , method: :post do |f| %>
    <%= f.hidden_field :postal_code, :value => @order.postal_code %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :addressee, :value => @order.addressee %>
    <%= f.hidden_field :postage, :value => 800 %>
    <%= f.hidden_field :total, :value => @total %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>
  <%= f.submit "注文を確定する", class: "btn btn-success" %>
  <% end %>
</div>