<div class="container">
  <h4>注文情報入力</h4>
  <div class="row">
    <h4>支払方法</h4>
    <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %></td>
          <td><%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %></td>
        </tr>
        <tr>
          <td><%= f.radio_button :payment_method, Order.payment_methods.key(1) %></td>
          <td><%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h4>お届け先</h4>
    <table class="table">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.radio_button :address_option, 1, checked: true %></td>
          <td><%= f.label :address_option, "ご自身の住所" %></td>
          <td><%= current_customer.address_display %></td>
          <td><%= current_customer.full_name %></td>
        </tr>
        <tr>
          <td><%= f.radio_button :address_option, 2 %></td>
          <td><%= f.label :address_option, "登録済住所から選択" %><br><%= f.collection_select :address_select, Address.all, :id, :address_display %></td>
        </tr>

        <tr>
          <td><%= f.radio_button :address_option, 3 %></td>
          <td><%= f.label :address_option, "新しいお届け先" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.label :entry_postal_code, "郵便番号(ハイフンなし)" %></td>
          <td><%= f.text_field :entry_postal_code, placeholder: "0000000" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.label :entry_address, "住所" %></td>
          <td><%= f.text_field :entry_address, placeholder: "東京都渋谷区代々木神園町0-0",  size: 40 %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.label :entry_addressee, "宛名" %></td>
          <td><%= f.text_field :entry_addressee, placeholder: "令和道子" %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>