<div class="container">
  <h4>注文情報入力</h4>
  <div class="row">
    <h4><strong>支払方法</strong></h4>
  </diV>
  <div class="row">
    <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
      <div class ="radio-button col-md-12">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
      </div>
      <div class ="radio-button col-md-12">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </div>
    <h4><strong>お届け先</strong></h4>
      <div class ="radio-button col-md-12">
        <%= f.radio_button :address_option, 1, checked: true %>
        <%= f.label :address_option, "ご自身の住所" %>
      </div>
      <div class ="radio-button col-md-12">
        <%= current_customer.address_display %>
      </div>
      <div class ="radio-button col-md-12">
        <%= current_customer.full_name %>
      </div>
      <div class ="radio-button col-md-12">
        <%= f.radio_button :address_option, 2 %>
        <%= f.label :address_option, "登録済住所から選択" %>
      </div>
      <div class ="col-md-12">
        <%= f.collection_select :address_select, Address.all, :id, :address_display %>
      </div>
      <div class ="radio-button col-md-12">
        <%= f.radio_button :address_option, 3 %>
        <%= f.label :address_option, "新しいお届け先" %>
      </div>
        <div class =" col-md-12">
          <div class="row">
            <div class ="col-md-6">
              <%= f.label :entry_postal_code, "郵便番号(ハイフンなし)" %>
            </div>
            <div class ="col-md-6">
              <%= f.text_field :entry_postal_code, placeholder: "0000000" %>
            </div>
          </div>
        </div>
        <div class ="col-md-12">
          <div class="row">
            <div class ="col-md-6">
              <%= f.label :entry_address, "住所" %>
            </div>
            <div class ="col-md-6">
              <%= f.text_field :entry_address, placeholder: "東京都渋谷区代々木神園町0-0",  size: 40 %>
            </div>
          </div>
        </div>
        <div class ="col-md-12">
          <div class="row">
            <div class ="col-md-6">
              <%= f.label :entry_addressee, "宛名" %>
            </div>
            <div class ="col-md-6">
              <%= f.text_field :entry_addressee, placeholder: "令和道子" %>
            </div>
          </div>
        </div>
    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>