<div class="container">
    <div class="row">
      <h4>商品一覧</h4>
      <span>(全<%= Item.all.count %>件)</span>
    </div>
    <div class = "row">
      <% @items.each do |item| %>
          <div class ="col-md-3">
            <span>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image, size: "250x200" %>
              <% end %>
            </span><br>
            <span><%= link_to item.name, item_path(item.id) %></span><br>
            <span><%= item.price %></span>
          </div>
      <% end %>
    </div>
    <div class="row justify-content-center">
       <%= paginate @items %>
    </div>
</div>