<div class="container">
  <div class="row">
    <div class = "col-md-3">
      <%= image_tag @item.image,size: "250x200" %>
    </div>
    <div class = "col-md-3">
      <strong><%= @item.name %></strong><br>
      <%= @item.introduction %><br>
      ¥<%= @item.price %>
    
    <%= form_with model: @cart_item, url: cart_items_path do |f| %>
      <%= f.select :amount, *[1..10] , { include_blank: '個数選択'} %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit "カートに入れる", class: "btn btn-success" %>
    <% end %>
    </div>
  </div>
</div>

